export FEDORA_STREAM="stable"
export FEDORA_VERSION="43.20260119.3.1"
export FEDORA_ARCH="aarch64"

export QEMU_VM_ID="78cd44f6-db3b-4d3f-bbc1-149b38d71672"
export QEMU_VM_WORKSPACE="${HOME}/.qemu/${QEMU_VM_ID}"
export QEMU_IMAGE_FILE="${QEMU_VM_WORKSPACE}/fedora-coreos-${FEDORA_VERSION}-qemu.${FEDORA_ARCH}.qcow2"
export QEMU_IMAGE_SHA256="7e545d8b8f57b34d25bb73cd1f17743547ab44b087b6f46a80062050ece40e04"
export QEMU_IMAGE_URL="https://builds.coreos.fedoraproject.org/prod/streams/${FEDORA_STREAM}/builds/${FEDORA_VERSION}/${FEDORA_ARCH}/fedora-coreos-${FEDORA_VERSION}-qemu.${FEDORA_ARCH}.qcow2.xz"
export QEMU_FIRMWARE_FILE="/opt/homebrew/share/qemu/edk2-aarch64-code.fd"
export QEMU_VM_MEMORY="8192"
export QEMU_VM_CPU="4"
export QEMU_VM_DISK="32G"
export QEMU_PID_FILE="${QEMU_VM_WORKSPACE}/qemu.pid"
export QEMU_LOG_FILE="${QEMU_VM_WORKSPACE}/qemu.log"
export QEMU_VM_USER="${USER}"
export QEMU_VM_USER_UID=$(id -u)
export QEMU_VM_HOSTNAME="${QEMU_VM_ID}.local"
export QEMU_VM_SSH_KEY="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBHoJueEZGM3mUAkWxKYaXG6+37VhW5Wymqj4HOMuz9z tdesaules@Mac.lan"

export BUTANE_CONFIG_FILE=".qemu/config.bu"
export IGNITION_CONFIG_FILE=".qemu/config.ign"

export PKG_SYSTEM="fastfetch tree"

export VERSION_STARSHIP="1.24.2"
export VERSION_LAZYGIT="0.59.0"
