[Unit]
Description=Fcitx5 Input Method Editor
After=graphical-session.target chezmoi-first-init.service

[Service]
ExecStart=/usr/bin/fcitx5
Restart=on-failure

[Install]
WantedBy=graphical-session.target
