[Unit]
Description=Topgrade automatic update at login
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/topgrade
StandardOutput=journal

[Install]
WantedBy=default.target
