[Unit]
Description=Topgrade automatic update
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/topgrade --no-input

[Install]
WantedBy=default.target
